<!DOCTYPE html>
<html>
  <head>
    <title>Koala</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesheet/style-gallery.css" />
  </head>
  <body>
    <div id="nav-bar">
        <h1>Koala-wiki</h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div id="content">
        <img src="/images/hugging.jpg">
        <img src="/images/family.jpg">
        <img src="/images/cute.jpg">
      </div>
  </body>
</html>