<!DOCTYPE html>
<html>
  <head>
    <title>Koala</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesheet/style-home.css" />
  </head>
  <body>
    <div id="nav-bar">
        <h1>Koala-wiki</h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div id="content">
      <div id="data"></div>
      <img id="koala-home-img" src="/images/koala.png">
    </div>
  </body>
</html>