<!DOCTYPE html>
<html>
  <head>
    <title>Koala</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="stylesheet/style-works.css" />
  </head>
  <body>
    <div id="nav-bar">
        <h1>Koala-wiki</h1>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div id="content">
        <h3>Koala's job: Eating, sleeping, repeat... This is life!</h3>
        <img id="koala-sleeping-img" src="/images/koala-sleeping.jpg">  
    </div>
  </body>
</html>